:root {
    --white: #fff;
    --whitef8: #f8f8f8;
    --primary: #294669;
    --secondary: #f67e7d;
    --bg-section-1: #843b62;
}

$layout-breakpoint-small: 960px;
$layout-breakpoint-mobile: 601px;
