.gallery {
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &--item {
            width: 33.3%;
            transition: 200ms linear;
            img {
                width: 100%;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: $layout-breakpoint-mobile) {
    .gallery {
        &__content {
            flex-direction: column;

            &--item {
                width: 80%;
                margin: 5% auto;
            }
        }
    }
}
